{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{%static 'css/consultancy.css' %}" />
    <title>jadex</title>
  </head>
  <body>
    <nav>
      <ul class="topn">
        <li class="dis"><a href="">LOGO</a></li>
        <li class="dis"><a href="#home">HOME</a></li>
      </ul>
    </nav>
    <div class="header">
        <h1>consultancy</h1>
    </div>
    <div class="content1">
        <p>
            we are one of the blah vlah to increment the seo,so it is kinda gonna
          be long, Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Autem corporis dignissimos quasi velit corrupti molestiae vitae quis
          nulla, inventore, accusantium sed cupiditate perspiciatis ratione
          unde. Autem iure quasi dolores ipsum.we beleive that
        </p>
    </div>
    <div class="content2">
        <p>
            we are one of the blah vlah to increment the seo,so it is kinda gonna
          be long, Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Autem corporis dignissimos quasi velit corrupti molestiae vitae quis
          nulla, inventore, accusantium sed cupiditate perspiciatis ratione
          unde. Autem iure quasi dolores ipsum.we beleive that
        </p>
    </div>
    <div class="content3">
        <p>
            we are one of the blah vlah to increment the seo,so it is kinda gonna
          be long, Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Autem corporis dignissimos quasi velit corrupti molestiae vitae quis
          nulla, inventore, accusantium sed cupiditate perspiciatis ratione
          unde. Autem iure quasi dolores ipsum.we beleive that.Autem corporis dignissimos quasi velit corrupti molestiae vitae quis
          nulla, inventore, accusantium sed cupiditate perspiciatis ratione
          unde. Autem iure quasi dolores ipsum.we beleive thatAutem corporis dignissimos quasi velit corrupti molestiae vitae quis
          nulla, inventore, accusantium sed cupiditate perspiciatis ratione
          unde. Autem iure quasi dolores ipsum.we beleive that
        </p>
    </div>
    <section id="projects" class="projects">
        <div class="projects-cont">
                <div class="proj">
                    <div class="proj-cont-rr">
                        <div class="proj-txt-rr">
                            <div class="proj-header">
                                <h1 class="proj-title">E-Commerce Website</h1>
                            </div>
                            <div class="proj-desc">
                                <div class="desc">
                                    <div class="desc-txt">
                                        <p class="desc-p">we are one of the blah vlah to increment the seo,so it is kinda gonna
                                            be long, Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                            Autem corporis dignissimos quasi velit corrupti molestiae vitae quis
                                            nulla, inventore, accusantium sed cupiditate perspiciatis ratione
                                            unde. Autem iure quasi dolores ipsum.we beleive that
                                        </p>
                                        <div class="desc-btns">
                                            <button class="git">Repo</button>
                                            <button class="pro-contact" onclick="window.location.href='mailto:thejadeemperror@gmail.com?cc=maestrobharath@gmail.com'">Mail Me</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="desc-img">
                            <img class="proj-img-rr" src="{%static 'rcs/home.jpg' %}" alt="Glutone " </div>
                        </div>
                    </div>
                    <div class="proj">
                        <div class="proj-cont">
                            <div class="proj-txt">
                                <div class="proj-header">
                                    <h1 class="proj-title">Captcha Solver:</h1>
                                </div>
                                <div class="proj-desc">
                                    <div class="desc">
                                        <div class="desc-txt">
                                            <p class="desc-p">we are one of the blah vlah to increment the seo,so it is kinda gonna
                                                be long, Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                Autem corporis dignissimos quasi velit corrupti molestiae vitae quis
                                                nulla, inventore, accusantium sed cupiditate perspiciatis ratione
                                                unde. Autem iure quasi dolores ipsum.we beleive that<br>
                                            </p>
                                            <div class="desc-btns">
                                                <button class="git">Repo</button>
                                                <button class="pro-contact" onclick="window.location.href='mailto:thejadeemperror@gmail.com?cc=maestrobharath@gmail.com'">Mail Me</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="desc-img">
                                <img class="proj-img" src="{%static 'rcs/home.jpg' %}"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                        
    </section>
    <section class='contact'>
        <div class='contact-content'>
            <img class="log" src="{%static 'rcs/ico/whatsapp.svg' %}" alt=""><br><br>
            <br><br>
            <p class='cont-dec'>hellohello hello hello</p><br>
            <button>num</button>
        </div>
        <div class='contact-content'>
            <img class="log"  src="{%static 'rcs/ico/whatsapp.svg' %}" alt=""><br>
            <p>hellohello hello hello</p><br>
            <button>num</button>
        </div>
        <div class='contact-content'>
            <img class="log"  src="{%static 'rcs/ico/whatsapp.svg' %}" alt=""><br>
            <p>hellohello hello hello</p><br>
            <button>num</button>
        </div>
    </section>

    </body>
</html>


